.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: require("../assets/images/back.jpg") center center repeat;
}

.container-fluid {
  position: relative;
  top: 90px;
}

.input-container {
    width: 100%;
    padding: 20px;
    box-shadow: 0 3px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    background-color: #fff;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-15 {
  margin-right: 15px !important;
}

.wd-100 {
  width: 100px !important;
}

.wd-200 {
  width: 200px !important;
}

.wd-300 {
  width: 300px !important;
}

.pos-right {
  float: right;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-border {
  border: none;
}

.no-padding {
  padding: 0;
}

.no-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.display-inline {
  display: inline;
}

// 排版样式

.flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}