<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>序列标注结果查看</title>
    <link href="../../static/extern/bootstrap-3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../../static/style/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="app" class="background">
    <nav class="navbar navbar-default navbar-fixed-top">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group mr-20">
                <label for="filename" class="hidden"></label>
                <select @change="selectFile" v-model="input.fileSelect" class="form-control">
                    <option value="version_1/output/model_output_weitao.jsonl">单模型-BIONES方案：weitao 数据</option>
                </select>
                <input type="text" v-model="input.filename" id="filename" placeholder="打开文件名称" class="form-control"/>
            </div>
            <div @click="request('open')" class="btn btn-default mr-20">打开文件</div>
            <div class="file-status mr-100" :class="'file-status-' + file.status"></div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">过滤器<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li v-if="!isQuickLink" @click="isQuickLink=true;"><a href="#"><i class="glyphicon glyphicon-ok mr-5 invisible"></i>快速链接</a></li>
                    <li v-else @click="isQuickLink=false;"><a href="#"><i class="glyphicon glyphicon-ok mr-5"></i>快速链接</a></li>
                    <li role="separator" class="divider"></li>
                    <li v-if="!entity.isShow" @click="changeEntityShow('open')"><a href="#"><i class="glyphicon glyphicon-ok mr-5 invisible"></i>抽取实体</a></li>
                    <li v-else @click="changeEntityShow('close')"><a href="#"><i class="glyphicon glyphicon-ok mr-5"></i>抽取实体</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="content" class="container-fluid">
        <div class="row" v-for="labelDict in labelList">
            <h2 class="text-center" v-text="labelDict.name" :id="labelDict.name"></h2>
            <hr/>
            <div class="row mt-50" v-for="dataItem in labelDict.data">
                <div class="label-panel col-md-offset-1" :class="entity.labelPanelClass">
                    <div class="content-list">
                        <div class="content-item">
                            <div class="label-item" v-for="viewItem in dataItem.indexList">
                                <div class="label-char" v-text="viewItem.char" :style="{'color': viewItem.color}"></div>
                                <div class="label-label" v-text="viewItem.label"
                                     :style="{'color': viewItem.color}"></div>
                                <div class="label-index" v-text="viewItem.pos"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="entity.isShow" class="col-md-3">
                    <div class="label-list">
                        <div class="label-name-item" v-for="entityItem in dataItem.entityList">
                            <h3 class="text-center" v-text="entityItem.name"></h3>
                            <div class="label-single-item mt-10" v-for="groupItem in entityItem.list">
                                <div class="label-group-item" v-for="entity in groupItem">
                                    <form class="form-inline">
                                        <div class="form-group mt-10 wd-100-percent">
                                            <label class="control-label">抽取实体：</label>
                                            <span v-text="entity.name"></span>
                                        </div>
                                        <div class="form-group mt-10 wd-100-percent">
                                            <label class="control-label">位置范围：</label>
                                            <span v-text="entity.start"></span> ~ <span v-text="entity.end"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-func">
        <div class="navbar-form">
            <div class="form-group mr-20">
                <label for="start" class="control-label">start：</label>
                <input type="number" v-model="input.start" id="start" placeholder="0"
                       class="form-control wd-100 text-center"/>
            </div>
            <div class="form-group mr-20">
                <label for="limit" class="control-label">limit：</label>
                <input type="number" v-model="input.limit" id="limit" placeholder="10"
                       class="form-control wd-100 text-center"/>
            </div>
            <div class="form-group mr-20">
                <label for="number" class="control-label">数据量：</label>
                <input type="number" v-model="input.total" id="number" disabled
                       class="form-control wd-100 text-center"/>
            </div>
            <div @click="request('get')" class="btn btn-default">查询</div>
            <div @click="turnPage('prev')" class="btn btn-default">上一页</div>
            <div @click="turnPage('next')" class="btn btn-default">下一页</div>
            <div @click="backToTop" class="btn btn-default">回到顶部</div>
        </div>
    </div>

    <transition name="fade">
        <div v-if="isQuickLink" class="panel right-sidebar">
            <div class="panel-heading">快速链接</div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item" v-for="labelDict in labelList">
                        <a :href="'#' + labelDict.name" v-text="labelDict.name"></a>
                    </div>
                </div>
            </div>
        </div>
    </transition>

    <transition name="fade">
        <div v-if="alert.isShow" class="alert" :class="alert.type" role="alert" v-text="alert.message"></div>
    </transition>

</div>

<script src="../../static/script/jquery.min.js"></script>
<script src="../../static/extern/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../static/script/vue.js"></script>
<script src="../../static/script/view.js"></script>
</body>
</html>