<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>可视化工具箱</title>
    <link href="../static/extern/bootstrap-3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../static/style/index.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="app" class="background">
    <div class="container">
        <div class="row">
            <div class="sidebar">
                <img class="decorate decorate-sakura" src="/static/images/left_sakura1.png" alt="decorate"/>
                <img class="sidebar-logo" src="/static/images/logo.png" alt="logo"/>
                <div class="h4 sidebar-title">可视化工具箱</div>
                <ul class="sidebar-menu">
                    <li @click="panelType=1" class="sidebar-menu-item" :class="{ active: panelType==1 }">
                        <i class="glyphicon glyphicon-tags"></i>
                        <span class="ml-5">序列标注</span>
                    </li>
                    <li @click="panelType=2" class="sidebar-menu-item" :class="{ active: panelType==2 }">
                        <i class="glyphicon glyphicon-tags"></i>
                        <span class="ml-5">文本分类</span>
                    </li>
                    <li @click="panelType=3" class="sidebar-menu-item" :class="{ active: panelType==3 }">
                        <i class="glyphicon glyphicon-bookmark"></i>
                        <span class="ml-5">数据生成</span>
                    </li>
                </ul>
                <i class="glyphicon glyphicon-tower sidebar-bottom-logo"></i>
            </div>
            <div class="main">
                <div v-if="panelType == 1">
                    <div class="main-header">
                        <div class="header-box">
                            <div class="header-title">
                                <i class="glyphicon glyphicon-tag"></i>
                                <span class="title ml-10">序列标注</span>
                            </div>
                        </div>
                        <div class="delimiter"></div>
                    </div>
                    <div class="main-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <img src="/static/images/pic_sequence_1.png" alt="序列数据标注">
                                    <div class="caption">
                                        <h4>序列数据标注</h4>
                                        <p>提供可视化的方式进行序列数据的标注工作。</p>
                                        <p class="text-right"><a @click="linkTo('modify')" class="btn btn-default" role="button">进入</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <img src="/static/images/pic_sequence_2.png" alt="预测结果查看">
                                    <div class="caption">
                                        <h4>预测结果查看</h4>
                                        <p>查看模型的预测结果。若为抽取任务，则一并展示抽取得到的内容。</p>
                                        <p class="text-right"><a @click="linkTo('view')" class="btn btn-default" role="button">进入</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <img src="/static/images/pic_sequence_3.png" alt="预测结果对比">
                                    <div class="caption">
                                        <h4>预测结果对比</h4>
                                        <p>比对模型预测结果与标注结果。</p>
                                        <p class="text-right"><a @click="linkTo('compare')" class="btn btn-default" role="button">进入</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else-if="panelType == 2">
                    <div class="main-header">
                        <div class="header-box">
                            <div class="header-title">
                                <i class="glyphicon glyphicon-bookmark"></i>
                                <span class="title ml-10">文本分类</span>
                            </div>
                        </div>
                        <div class="delimiter"></div>
                    </div>
                    <div class="main-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <img src="/static/images/pic_data_1.png" alt="纠错数据生成">
                                    <div class="caption">
                                        <h4>分类结果查看</h4>
                                        <p>查看文本分类的结果。</p>
                                        <p class="text-right"><a @click="linkTo('classify/view')" class="btn btn-default" role="button">进入</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else-if="panelType == 3">
                    <div class="main-header">
                        <div class="header-box">
                            <div class="header-title">
                                <i class="glyphicon glyphicon-bookmark"></i>
                                <span class="title ml-10">数据生成</span>
                            </div>
                        </div>
                        <div class="delimiter"></div>
                    </div>
                    <div class="main-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <img src="/static/images/pic_data_1.png" alt="纠错数据生成">
                                    <div class="caption">
                                        <h4>纠错数据生成</h4>
                                        <p>采用谐音的方式对文本进行改错操作。</p>
                                        <p class="text-right"><a @click="linkTo('generate')" class="btn btn-default" role="button">进入</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 遮罩层 -->
    <div class="mask-layer hidden"></div>

    <!-- 弹窗层 -->
    <div class="popup-layer panel-default hidden"
         :style="{ width: panel.width + 'px', height: panel.height + 'px', 'margin-left': '-' + panel.marginLeft + 'px', 'margin-top': '-' + panel.marginTop + 'px' }">
        <div v-if="panelType == 1">
            <div class="panel-heading">
                <div class="panel-name h4">添加标签</div>
                <div class="panel-operator">
                    <i class="glyphicon glyphicon-remove"></i>
                </div>
            </div>
            <div class="panel-body">
                <form class="form">
                    <div class="form-group">
                        <label class="control-label" for="createLabelName">
                            *标签名称：1-10个中文汉字
                        </label>
                        <input type="text" class="form-control" id="createLabelName"/>
                        <div class=""></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="createLabelBrief">标签介绍：1-64个中文汉字</label>
                        <textarea class="form-control" id="createLabelBrief" rows="5"></textarea>
                    </div>
                </form>
                <div class="delimiter"></div>
                <div class="panel-operator">
                    <div class="btn-new-style line-center">
                        <div class="btn-new-style-circle"></div>
                        创建
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/script/jquery.min.js"></script>
<script src="../static/extern/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../static/script/vue.js"></script>
<script src="../static/script/main.js"></script>
</body>
</html>